[color-scheme='dark']{

color-scheme: dark; 
--plx-shadow-s:  0px 1px 2px 0px #000B11E5, 0px 1px 3px 0px #000B11E5;
--plx-shadow-m: 0px 4px 6px -2px #000B11E5, 0px 10px 15px -3px #000B11E5;
--plx-shadow-l: 0px 10px 40px 0px #000B11E5;
}
